
@font-face
{
    font-family: 'Roboto-Regular';
    src: local('Roboto-Regular'),url('Roboto-Regular.ttf') format('opentype');
}

@font-face
{
    font-family: 'Roboto-Bold';
    src: local('Roboto-Bold'),url('Roboto-Bold.ttf') format('opentype');
}

@font-face
{
    font-family: 'Roboto-Italic';
    src: local('Roboto-MediumItalic'),url('Roboto-MediumItalic.ttf') format('opentype');
}

@font-face
{
    font-family: 'Roboto-Black';
    src: local('Roboto-Black'),url('Roboto-Black.ttf') format('opentype');
}

@font-face
{
    font-family: 'Roboto-Light';
    src: local('Roboto-Light'),url('Roboto-Light.ttf') format('opentype');
}

@font-face
{
    font-family: 'Roboto-Medium';
    src: local('Roboto-Medium'),url('Roboto-Medium.ttf') format('opentype');
}

body,td
{
    font-family: 'Roboto-Light';
    font-size: 55px;
    font-weight: normal;
    line-height: 180%;
}

a,href
{
    color: #20537c;
    text-decoration: none;
    
}

a,href
{
    color: #20537c;
    text-decoration: none;
    
}

h1
{
    font-size: 65px;
    font-weight: 800px
}

h2
{
    font-size: 60px;
    font-weight: 800px
}

h3
{
    font-size: 55px;
    font-weight: 800px
}

span,p,br
{
    /*font-size: 50px;*/
    font-weight: normal;
}

[tm-type="summary"]
{
    font-family: 'Roboto-Bold';
    font-size: 65px;
    font-weight: 400;
}

strong
{
    font-family: 'Roboto-Regular';
    font-size: 55px;
    font-weight: bold;
}

em, i, [tm-type="caption"]
{
    font-family: 'Roboto-Italic';
    font-size: 45px;
    font-weight: normal;
}

[tm-type="title"]{
    font-family: 'Roboto-Bold';
    font-size: 75px;
    font-weight: normal;
    text-align: center;
}

#source{
    font-family: 'Roboto-Bold';
    font-size: 40px;
    font-weight: normal;
    color : #B33D3D;
    display: inline-block;
}

#timestamp{
    font-family: 'Roboto-Light';
    font-size: 40px;
    font-weight: normal;
    padding-left : 20px;
    display: inline-block;
}

.inline-container{
    margin: 20 auto 20 auto;
    text-align: center;
}

table
{
    width: 100%;
}

img
{
    display: block;
    width: 100%;
    height: auto;
    border-top: 15px solid white;
    border-bottom: 15px solid white;
}

/*
    Styling for library.html
 */

#content{
    padding: 20 20 20 20;
    font-size : 45px;
    font-family: "Roboto-light";
    background-color : #bfbfbf;
)

#main div{
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}